// Color palettes
$palettes: (
  tokyonight: (
    bg: #1a1b26,
    fg: #a9b1d6,
    comment: #565f89,
    blue: #7aa2f7,
    cyan: #7dcfff,
    green: #9ece6a,
    orange: #ff9e64,
    red: #f7768e,
    yellow: #e0af68,
    magenta: #bb9af7,
  ),
  tokyostorm: (
    bg: #24283b,
    fg: #a9b1d6,
    comment: #565f89,
    blue: #7aa2f7,
    cyan: #7dcfff,
    green: #9ece6a,
    orange: #ff9e64,
    red: #f7768e,
    yellow: #e0af68,
    magenta: #bb9af7,
  ),
  tokyomoon: (
    bg: #222436,
    fg: #c8d3f5,
    comment: #636da6,
    blue: #82aaff,
    cyan: #86e1fc,
    green: #c3e88d,
    orange: #ff966c,
    red: #ff757f,
    yellow: #ffc777,
    magenta: #c099ff,
  ),
  tokyoday: (
    bg: #e6e7ed,
    fg: #343b58,
    comment: #6c6e75,
    blue: #2959aa,
    cyan: #0f4b6e,
    green: #385f0d,
    orange: #965027,
    red: #8c4351,
    yellow: #8f5e15,
    magenta: #5a3e8e,
  ),
);
