@import 'reset';
@import 'colors';

// Mixin to generate CSS variables from a palette
@mixin theme-vars($palette) {
  --bg-color: #{map-get($palette, bg)};
  --fg-color: #{map-get($palette, fg)};
  --comment-color: #{map-get($palette, comment)};
  --blue-color: #{map-get($palette, blue)};
  --cyan-color: #{map-get($palette, cyan)};
  --green-color: #{map-get($palette, green)};
  --orange-color: #{map-get($palette, orange)};
  --red-color: #{map-get($palette, red)};
  --yellow-color: #{map-get($palette, yellow)};
  --magenta-color: #{map-get($palette, magenta)};
}

// Generate theme classes
@each $name, $palette in $palettes {
  .theme-#{$name} {
    @include theme-vars($palette);
  }
}

body {
  font-family:
    'Hack', 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
  background-color: var(--bg-color);
  color: var(--fg-color);
}

a {
  color: var(--blue-color);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p {
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  color: var(--blue-color);
}

header {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  align-items: center; /* Vertically align items */
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  color: var(--orange-color);
}

nav a,
nav span {
  margin: 0 0.5em; /* Add some spacing between nav links */
}

code {
  padding: 0px 10px;
  border-radius: 5px;
  background-color: var(--fg-color);
  color: var(--bg-color);
}

pre {
  padding: 1em;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid var(--cyan-color);
}

pre > code {
  background-color: transparent;
  color: var(--fg-color);
  padding: 0;
}

hr {
  border: 0;
  height: 1px;
  background: var(--cyan-color);
  margin: 1em 0;
}

blockquote {
  border-left: 4px solid var(--blue-color);
  padding: 1em;
  margin: 1em 0;
  background-color: rgba(255, 255, 255, 0.05);
}

img {
  border: 1px solid var(--magenta-color);
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}
